#box_country{
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 15px;
    
    font-size: 20px;
}
.box_data_country_entete{   
    display: flex;
    margin-top: 15px;
    
    margin-inline-start: 250px;
    margin-inline-end: 250px;
    justify-content: space-around;        
}