<div class="box_entete" id="box_country">
    <p class="data_entete" >Medals per Country</p>    
</div>
<div class="box_detail">
    <div class="box" id="entries">
        <p>Number of JOs</p>    
        <div class="data_box">{{numberOfJo}}</div>        
    </div>
    <div class="box" id="medals">
        <p>Number of countries</p>            
        <div class="data_box">{{numberOfCountries}}</div>
    </div>    
</div>
<div class="box_pie_chart">
    <canvas id="pie-country">{{pieChart}}</canvas>     
</div>

